/*************Commun***********/

body {
    min-height: 100vh;
    margin: 0;
}

* {
    --color1:rgb(223, 183, 134);
    --colorText:rgb(114, 82, 42);
}

.nav {
    background-color: var(--color1);
    text-align: end;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    gap: 40px;
    text-decoration-color: white;
    box-shadow: 1px 2px 5px;
}

a {
    text-decoration: none;
}

:visited {
    color: white;
}


.foot {
    background-color: var(--color1);
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: -10px;
}

.HdP {
    display: flex;
    justify-content:center;
}

.lienFoot {
    display: flex;
    align-self: flex-end;
    display: inline;
    margin-right: 30px;
    margin-left: 15px;
}

/********************index*********************/

h1 {
    text-align: center;
    margin-top: 50px;
    color: var(--colorText);
}

.section1 {
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border-style: none;
    padding-right: 150px;
    padding-left: 150px;
    margin: 50px 4%;
}

hr {
    color: var(--color1);
    width: 85%;
}

.hrfoot{
    color: white;
    width: 25%;
}

h2 {
    text-align: center;
    color: var(--colorText);
}

.div1 {
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    width: 80%;
    box-shadow: 0px 2px 5px;
    aspect-ratio: 1/1;
}

.img {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 10px;
    max-width: 100%;
}

p {
    width: 90%;
    color: var(--colorText);
    text-align: center;
}

/*********************Galerie*****************/

.h2Gal {
    margin-top: 60px;
}

.section2 {
    background-color: var(--color1);
    border-radius: 20px;
    margin: 50px;
    padding: 20px;
}

.divGal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imgGal {
    height: 300px;
    width: 25%;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.imgGal:hover {
    transform: scale(1.4,1.4);
    cursor: url('images/brit.gif'),auto;
}



/*********************Contact*****************/

#h2c {
    margin-top: 80px;
}

.section3 {
    background-color: var(--color1);
    padding: 40px 150px 5%;
    border-radius: 20px;;
    margin: 100px 10% 107px 10%;
}

.div3 {
    background-color: antiquewhite;
    color: var(--colorText);
    border-radius: 20px;
    box-shadow: 1px 5px 5px;
}

.form {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    padding: 20px;
}

input {
    width: 80%;
    border-radius: 5px;
    border: none;
    height: 25px;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    width: 80%;
    border-radius: 5px;
    border: none;
}

.but {
    margin-top: 10px;
    width: 80px;
}

.but:hover {
    cursor: pointer;
}